
{% extends 'header.html' %}

{% block title %}Login{% endblock %}
 {% block content %}

<html>
<style>



    body{
        margin:0;
	    padding:0;
        font-family: 'Raleway',sans-serif;
        background: rgba(85, 85, 129, 1) ;
        color: white;
    }

  .container py-5 {
        height: 10em;
        display: flex;
        align-items: center;
        font-family: 'Raleway',sans-serif;
        color: white;
  }


</style>
    {% load crispy_forms_tags %}

<body>
    <!--Login-->


<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="register">Create an account</a>.</p>
</div>
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
   {% endblock %}

</body>



</html>