<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
</head>
<body>
<form method = "post"> {% csrf_token %}
    Please enter your information here: <br>
    Name: <input type = "text" name = "name"/> <br>
    Height in inches: <input type = "number" name = "height" min = "0" max = "150"> <br>
    Weight in pounds: <input type = "number" name = "weight" min = "0" max = "1000"> <br>
    Age in years: <input type = "number" name = "weight" min = "0" max = "100"> <br>
    <label for="sex"> Sex: </label>
    <select id = "sex" name = "sex">
            <option value = "male">Male</option>
            <option value = "female">Female</option>
    </select>
    <input type = "submit" href = "" name = "submit"/>

</form>
</body>
</html>