
{% extends 'header.html' %}

{% block title %}Login{% endblock %}
 {% block content %}

    {% load crispy_forms_tags %}
<html>

<head>
    <link rel="stylesheet"  href="registration/login.css" >
      <link rel="icon" type="images/x-icon" href="favicon.ico">
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>#}
{##}
{#<!-- Boostrap JS -->#}
{#    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" > </script>#}

</head>

<body>
    <!--Login-->
<div class="login-wrap">
	<div class="login-html">
 /*{ <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label> */ }*/
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="register">Create an account</a>.</p>
</div>
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
   {% endblock %}
</div>

</body>

</html>

