<!DOCTYPE html>
<html lang="en">
<head>
<title>Your Recommendation Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body>
<div class="header">
  <header>
      <input type="button" value="Go back!" onclick="history.back()">
      <h1>Recommendations</h1>
      <h2>Thursday</h2>
  </header>
</div>
  <main>
      <section style="display: flex; flex-wrap: wrap">
          {% for ex in exercise %}
              <form method="GET" action="/exercise_add" data>
                  <article style="height: 300px; width: 320px; padding: 20px; border: 5px solid darkcyan;">
                      <img src="{{ ex.image }}" alt= "Preview of Exercise" width=320px height=240px>
                      <h3>{{ ex.name }}</h3>
                      <p>{{ex.description}}</p>

                      <button type="submit" name="exercise" value={{ ex.name }}>More Information</button>
                  </article>
              </form>
          {% endfor %}
      </section>
  </main>
  <footer>

  </footer>
</body>
</html>