<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body>
<div class="header">
  <header>
    <h1>Recommendations</h1>
          <h2>Thursday</h2>
  </header>
</div>
  <main>
    <section style="display: flex; justify-content: space-between;">

        {% for ex in exercise %}
            <article style="width: 320px; padding: 20px; border: 1px solid #c9c9c9;">
        <img src="{{ ex.image }}" alt= "Preview of Exercise" width=320px height=240px>
        <h3>{{ ex.name }}</h3>
        <p>{{ex.description}}</p>
        <a href="/exercise_card">More Details</a>
      </article>
      {% endfor %}

        <article style="width: 320px; padding: 20px; border: 1px solid #c9c9c9;">
        <img src="https://acewebcontent.azureedge.net/exercise-library/large/14-1.jpg" alt="Preview of Exercise1" width=320px height=240px>
        <h3>        </h3>
        <p>The bird dog is a simple core exercise that improves stability, encourages a neutral spine, and relieves low back pain.
            This exercise pose uses the whole body to target and strengthen your core, hips, and back muscles.
            It also helps promote proper posture and increase range of motion.</p>
        <a href="#">More Details</a>
      </article>
      <article style="width: 320px; padding: 20px; border: 1px solid #c9c9c9;">
        <img src="https://media1.popsugar-assets.com/files/thumbor/XBjqBbublGCisq8WJ589r9Ljlws/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2018/12/28/137/n/1922729/tmp_1KPWA3_4a8efb52e5e289b7_PS17_0001_GetFit_Fitness_Workout_0738.jpg" alt="Preview of Exercise1" width=320px height=240px>
        <h3>Forward Lunge</h3>
        <p>A forward lunge is a bodyweight exercise that works muscles throughout your lower body.
            Perform forward lunges by taking a large step forward and lowering yourself until your front leg and back leg are both at nearly a 90-degree angle.
            Then, push into your front heel and foot to raise back up to a standing position.</p>
        <a href="#">More Details</a>
      </article>      <article style="width: 320px; padding: 20px; border: 1px solid #c9c9c9;">
        <img src="https://i.ytimg.com/vi/9bdOZ-1usoM/maxresdefault.jpg" alt="Preview of Exercise1" width=320px height=240px>
        <h3>Ankle Flexion</h3>
        <p>This exercise uses a stretch band to flex your ankle by pulling your toes toward you</p>
        <a href="#">More Details</a>
      </article>

    </section>


  </main>
  <footer>
  </footer>
</body>
</html>