{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avid User Settings</title>
</head>
<body>
    {% block content %}

    <p>Email: {{user.email}}</p>
    <nav>
    <ul>
      <li><a href="/userpage">Home</a></li>
    </ul>
  </nav>
        <form method="POST" action="/name">
            {% csrf_token %}
            <input type="text" name="name">
            <button type="submit">submit</button>
        </form>
    {% endblock %}
</body>
</html>