{% extends 'home.html' %}

{% block title %}UserPage{% endblock %}

{% block content %}

    <div>
  <canvas id="myChart"></canvas>
</div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const labels = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
      'July',
    'August',
    'September',
    'October',
    'November',
    'December',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: '{{user.name}} Weight Graph Tracker',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [150, 145, 140, 145, 130, 125, 120, 115, 115, 115,115,125],
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
</script>

    <script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

{% if messages %}
    <ul>
   {% for message in messages %}
	   <li>{{ message }}</li>
   {% endfor %}
</ul>
{% endif %}
{% endblock %}